{% extends "base.html" %}
{% block content %}
  {% if car_list %}
    <table>
      <tr>
        <th>Id</th>
        <th>Manufacturer</th>
        <th>Model</th>
      </tr>
      {% for car in car_list %}
        <tr>
          <td> <a href="{% url "taxi:car-detail" car.id %}"> {{ car.id }} </a> </td>
          <td>{{ car.manufacturer.name }}</td>
          <td>{{ car.model }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <span> No cars found </span>
  {% endif %}
{% endblock %}
